<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>

<p><h1>Введи длинный URL</h1></p>
<form action="">
    <label for="GET-name">Name:</label>
    <input id="GET-name" type="text" name="name">
    <input type="submit" value="Save">
  </form>
  
  <p>!-- Простая форма, которая пошлёт POST запрос --></p>
  <form action="" method="post">
    <label for="POST-name">Name:</label>
    <input id="POST-name" type="text" name="name">
    <input type="submit" value="Save">
  </form>
  
  <!-- Форма с fieldset, legend, и label -->
  <form action="" method="post">
    <fieldset>
      <legend>Title</legend>
      <input type="radio" name="radio" id="radio"> <label for="radio">Click me</label>
    </fieldset>
  </form>


</body>
</html>